In [123]:
import numpy as np
import pandas as pd
import re

In [124]:
# Check double entry in the course_job column
def check_double_entry(df):
    df['checked_job'] = df.course_job.apply(lambda x: list(
        ''.join(list(filter(lambda ch: ch not in "[]'", x))).split(', ')))
    df.checked_job = df.checked_job.apply(lambda x: list(set(x)))
    return df

In [129]:
def clean_course_skill(df):
    df['checked_skill'] = df.course_skill.apply(lambda x: list(
        ''.join(list(filter(lambda ch: ch not in "[]'", x))).split(', ')))
    return df

In [130]:
def empty_to_null(df):
    df.checked_skill = df.checked_skill.apply(
        lambda x: np.nan if x == [''] else x)
    df.checked_job = df.checked_job.apply(
        lambda x: np.nan if x == [''] else x)
    return df

In [131]:
df_total = pd.DataFrame(columns=['course_title', 'course_rating',
                                 'course_description', 'checked_job', 'checked_skill'])
for csvfile in ['coursera_biginner.csv', 'coursera_mixed.csv', 'coursera_intermediate.csv', 'coursera_advanced.csv']:
    df = pd.read_csv(csvfile)
    df2 = check_double_entry(df)
    df3 = clean_course_skill(df2)
    df4 = empty_to_null(df3)
    df5 = df4.drop(['course_link', 'course_skill',
                    'course_job', 'course_type'], axis=1)
    df_total = df_total.append(df5, ignore_index= True)

In [139]:
type(df_total.checked_skill[0])

list

In [141]:
df_total.to_pickle('coursera_total.pkl')

In [142]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 5 columns):
course_title          2557 non-null object
course_rating         2557 non-null float64
course_description    2557 non-null object
checked_job           2493 non-null object
checked_skill         1051 non-null object
dtypes: float64(1), object(4)
memory usage: 100.0+ KB

# First version: only use non-NaN rows

In [143]:
# drop rows with NaN skill and job 
df6 = df_total.dropna()
df6

,course_title,course_rating,course_description,checked_job,checked_skill
0,AI For Everyone,4.8,['AI is not only for engineers. If you want yo...,"[Machine Learning Engineers, Product Managers,...","[Workflow of Machine Learning projects, AI ter..."
1,SQL for Data Science,4.6,"[""As data collection has increased exponential...","[Business Analysts, Marketing Analysts, Risk M...","[Data Science, Data Analysis, Sqlite, SQL]"
2,Project Launch,4.7,['Today’s fast track business and global envir...,"[Program Coordinators, Project Managers, Produ...","[Project Management, Scope (Project Management..."
3,Digital Transformation,4.8,['Digital transformation is a hot topic--but w...,"[Chief Financial Officers (CFOs), Operations M...","[Technology Disruption, Digital Trends, Compet..."
4,Technical Support Fundamentals,4.8,['This course is the first of a series that ai...,"[IT Support, Customer Care Reps, Retailers, Te...","[Binary Code, Customer Support, Linux, Trouble..."
...,...,...,...,...,...
2506,Advanced Linear Models for Data Science 1: Lea...,4.4,"[""Welcome to the Advanced Linear Models for Da...","[Scientists, Biologists, Economists, Traders, ...","[Statistics, Linear Regression, R Programming,..."
2511,Advanced Algorithms and Complexity,4.6,"[""You've learned the basic algorithms now and ...","[Security Engineers, Software Engineers, Machi...","[Python Programming, Linear Programming (LP), ..."
2512,"Big Data, Genes, and Medicine",4.2,['This course distills for you expert knowledg...,"[Researchers, Biostatisticians, Scientists, Bi...","[Bioinformatics, Data Clustering Algorithms, B..."
2517,Big Data Applications: Real-Time Streaming,2.9,['There is a significant number of tasks when ...,"[Software Engineers, Machine Learning Engineer...","[Kafka, NoSQL, Spark Streaming, Spark]"
2518,Genome Assembly Programming Challenge,4.3,"['In Spring 2011, thousands of people in Germa...","[Software Engineers, Machine Learning Engineer...","[Data Structure, Algorithms, Algorithm Design,..."